

.imageTop{
    position: relative;
    z-index: -1;
    width: 100%;
    margin-top: 70px;
   
    @include tablette{
        height: calc(100vh);
        margin-top: 0;
        object-fit: cover;
    }
}



.wrapperBase{
    position: relative;
    background: $color-back;
    border-radius: 50px 50px 0 0;
    margin-top: -50px;
    z-index: 2;
    padding: 0 $gutter ;
    padding-bottom: 80px;
    

    &__title{
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
        padding-bottom: 0px;
        @include tablette{
            width: 500px;
            margin: auto;
        }
    }
    .coeurBox{
        font-size: 1.1em;
        padding-right: 20px;
        top: -3px;
        &__coeur::after{
            background: $color-back;
        }
    }
  
    h1{
        font-family: shrikhand, sans-serif;
        font-size: 1.7em;
    }
    h2{
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.1em;
        padding-bottom: 0px;
        margin-top: 40px;
        @include tablette{
            max-width: 500px;
            
            margin-left: auto;
            margin-right: auto;
        }
        
    }
    h2::after{
        content: "";
        display: block;
        width: 45px;
        border-bottom: solid 3px $color-tertiary;
        margin : 5px 0;        
    }
}