.loader {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin: -25px 0 0 -25px;
    border: 2px solid transparent;
    border-top-color: #9356DC;
    border-radius: 50%;
    -webkit-animation: spinner 2s linear infinite;
    animation: spinner 2s linear infinite;
    &:before {
        content: "";
        position: absolute;
        top: 7px;
        right: 7px;
        bottom: 7px;
        left: 7px;
        border: 2px solid transparent;
        border-radius: 50%;
        border-top-color: #FF79DA;
        opacity: 0;
        -webkit-animation: spinner 3s linear infinite;
        animation: spinner 3s linear infinite;
    }
    &:after {
        content: "";
        position: absolute;
        top: 15px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        border: 2px solid transparent;
        border-radius: 50%;
        border-top-color: #99E2D0;
        -webkit-animation: spinner 1.5s linear infinite;
        animation: spinner 1.5s linear infinite;
    }
}

.indexPage{
    opacity: 1;
    animation: pageAppear 5s;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    z-index: 1;
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    animation-fill-mode: initial;
    display: none;
    }
}
@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    z-index: 1;
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    display: none;
        }
}

@keyframes pageAppear {
    0% {
        opacity: 0;
    }
     100%{
         opacity: 0;
    }
}