.loader {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin: -25px 0 0 -25px;
    border: 2px solid transparent;
    border-top-color: #9356DC;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner 2s linear 3;
    animation: spinner 2s linear 3;
    &:before {
        content: "";
        position: absolute;
        top: 7px;
        right: 7px;
        bottom: 7px;
        left: 7px;
        border: 2px solid transparent;
        border-radius: 50%;
        border-top-color: #FF79DA;
        opacity: 0;
        -webkit-animation: spinner 3s linear 3;
        animation: spinner 3s linear 3;
    }
    &:after {
        content: "";
        position: absolute;
        top: 15px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        border: 2px solid transparent;
        border-radius: 50%;
        border-top-color: #99E2D0;
        opacity: 0;
        -webkit-animation: spinner 1.5s linear 3;
        animation: spinner 1.5s linear 3;
    }
}

.indexPage{
    opacity: 1;
    animation: pageAppear 6s;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    animation-fill-mode: initial;
    opacity: 1;
    }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        opacity: 1;
        }
}

@keyframes pageAppear {
    0% {
        opacity: 0;
    }
     100%{
         opacity: 0;
    }
}